@    using bolte.Models;
    using bolte.Models.ViewModels;
@model IEnumerable<Genre>
@{
	ViewData["Title"] = "Generos literarios";
}
<h1>@ViewData["Title"]</h1>

<p>
	<a>Adicionar novo Genero Literario</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayFor(model => model.No)</></th>
		</tr>

	</thead>
	<tbody>
	</tbody>

</table>